@import '../../styles/variables.scss';

.aniversario {
    width: 100vw;
    height: 90vh;

    padding: 16.34vh 9%;

    position: relative;

    background: url('/assets/home/podologia-bg.png') no-repeat center center;
    background-size: cover;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    &::before {
        content: '';
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        background: rgba(16, 24, 40, 0.7);
        z-index: 0;
    }

    .image{
        width: auto;
        height: 100vh;

        position: absolute;
        bottom: 0;
        left: 0;

        z-index: 2;

        
        img {
            width: 100%;
            height: 100%;   
            
            
        }

        @media (max-width: $breakpoint-medium) {
            width: 100%;
            height: auto;

            position: absolute;
            bottom: 0;
            left: 0;

            z-index: 2;

            
            img {
                width: 100%;
                height: auto;
                    
                
            }
        }

       
    }

    .mensagem{
        width: 50%;
        
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;

        z-index: 1;

    
        .label{
            background: url('/assets/aniversario/background.svg') no-repeat center center;
            background-size:contain;

            padding: 20vh 8vw;

            height: 100%;

            label{
                font-size: $font-medium;
                font-weight: 700;
                color: $color-gray1;
            }
            
            p{
                font-size: $font-small;
                font-weight: 500;
                color: $color-gray1;
            }

            
        }


        img {
            width: 150px;
            height: auto;
        }

        @media (max-width: $breakpoint-medium) {
            width: 80%;
            height: 80vh;
            .label{
                background: url('/assets/aniversario/mobile-bg.svg') no-repeat center center;
                background-size:110%;

                padding: 20vh 9vw;

                label{
                    font-size: $font-small;
                    font-weight: 700;
                    color: $color-gray1;
                }
                
                p{
                    font-size: $font-xsmall;
                    font-weight: 500;
                    color: $color-gray1;
                }
            }
        }
    }
}
