@import '../../styles/variables.scss';

.container {
    width: 100vw;
    height: 100vh;

    padding: 16.34vh 9%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    background-color: $color-gray3; 


    label {
        font-size: $font-xlarge;
        font-weight: 700;

        color: $color-gray6; 
    }

    p{
        font-size: $font-small ;
        font-weight: 400;

        color: $color-gray5; //gray 5

        strong {
            font-weight: 600;
        }
    }

    @media (max-width: $breakpoint-medium) {
        height: 800px;
        flex-direction: column;
        padding: 8vh 9%;

        label {
            font-size: $font-large;
            
        }
    
        p{
            font-size: $font-xsmall ;
            
        }
    }


    .description {
        width: 50%;
        height: auto; //hug content

        margin-right: 2rem;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        
        .contacts {

            display: flex;
            justify-content: center;
            align-items: flex-start;                
            flex-direction: column;

            > label {
                margin: 0;

                font-size: $font-medium;
                font-weight: 500;

                color: $color-gray6;
            }
        }

        @media (max-width: $breakpoint-medium) {
            margin-right: 0;

            width: 100%;

            .contacts > label {
                
                font-size: $font-small;
                
            }
            
        }

    }

    .carousel_container{
        width: 50%;
        height: auto; //hug content
        @media (max-width: $breakpoint-medium) {
            width: 100%;
        }
    }


}