/* cores */
$color-green1: #1F5C46;
$color-green2: #34D399;
$color-gray1 : #F9FAFB;
$color-gray2 : #F2F4F7;
$color-gray3 : #EAECF0;
$color-gray4 : #98A2B3;
$color-gray5 : #475467;
$color-gray6 : #101828;

/* font-size */
$font-xsmall: 16px;
$font-small : 20px;
$font-medium: 24px;
$font-large : 36px;
$font-xlarge: 54px;

/* breakpoint */
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1200px;
