@import '../../styles/variables.scss';

.collapse {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 2rem;

    @media (max-width: $breakpoint-medium) {
        margin: 2rem 0;
    }
}

.collapse_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width: $breakpoint-large) {
        flex-direction: column;

    }

}

.collapse_description {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

  
    .title {
        font-size: $font-medium;
        font-weight: 600;
        color: $color-gray6; 
    }
    
    .content {
        margin-top: 1rem;
        font-size: $font-small;
        font-weight: 400;
        color: $color-gray5; 
    }

    @media (max-width: $breakpoint-large) {
        width: 100%;
        text-align: center;

    }
    
    @media (max-width: $breakpoint-medium   ) {

        .title {
            font-size: $font-small;
            font-weight: 600;
            color: $color-gray6; 
        }
    
        .content {
            margin-top: 1rem;
            font-size: $font-xsmall;
            font-weight: 400;
            color: $color-gray5; 
        }

    }
}

.collapse_story {
    width: 20%;
    margin-left: 2rem;
    height: 16rem;

    @media (max-width: $breakpoint-large) {
        width: 50%;
        margin-left: 0;
        margin-top: 1.5rem;

    }

    @media (max-width: $breakpoint-small) {
        width: 100%;
        margin-left: 0;
        margin-top: 1.5rem;

    }

}